.alerta{
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    &.error{
        background-color: $rojo;
    }
    &.exito{
        background-color: $verde;
    }
}

table.propiedades{//Para que solo afecte a las tablas
    margin-top: 4rem;//Separaccion entre tabla y nueva propiedad
    width: 100%;//Que tome todo el espacio disponible
    border-spacing: 0;

    thead{
        background-color: $verde;
        th{
            color: $blanco;
            padding: 2rem;
        }
    }
    .imagen-tabla{
        width: 10rem;
    }
}

.imagen-small{
    width: 10rem;
}